<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>

<body>

    <ul>
        <li><a href="/Profesor/Inicio">Inicio</a></li>
        <li><a href="/Profesor/ListadoProfesores">Listado Profesores</a></li>
        <li><a href="/Profesor/AgregarProfesor">Agregar Profesores</a></li>
        <li><a href="/Curso/ListadoCursos">Listado Cursos</a></li>
    </ul>

    <div>
        @RenderBody()
    </div>
</body>
</html>
